body {
        height:100%;
        display: block;
        background-image:  url('cubes.png');
        /* color: rgb(174, 166, 53); */
        /* color: rgb(217,232,246); */
        color: rgb(55, 131, 203);
        animation: diag 30s linear infinite;

        /* cursor stuff */
        

        }
.body{
        cursor: url('cursoricon1.png'), pointer;
}

/* Sparkle div styling from JavaScript */
div[style*="z-index: 999"] {
        pointer-events: none;
        cursor: url('cursoricon1.png'), auto;
}

.bigtree {
        z-index: 1;
        position: fixed;
        margin-left: 4.5%;
        transform: scaleX(-1);
        transform: scale(1.1);
}       
.searchButton {
        margin-left:10%; 
        margin-top:5%;
}

.sidebar {
        z-index: 1;
        font-family: 'Courier New', Courier, monospace;
        display: inline-block;
        height:100%;
        /* position: sticky; */
        border: 5px outset gainsboro;
        width:20%;
        margin-left: 10%;
        margin-top: 20%;
        background-color: whitesmoke;
        }
/* .sidebar:hover


        {
        text-shadow: 0 0 5px rgb(70, 123, 172);
        background-color: rgb(77, 168, 224);
        color: aliceblue;
        } */

.profilepic{
        border: 5px inset lightskyblue;
        /* width: 97.8%; */
        height: auto;
        width:auto;
        display:flex;
}
.pfpcontent { margin-left: 0; margin-top: 15px; }


a {
        cursor: url('cursoricon1.png'), pointer;
}

/* all <a> stuff will keep the cursoricon1.png */

.lnButton {
        background-color:aliceblue;
        color: rgb(77, 168, 224);
        padding: 10px 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: inset;
        border-radius: 10px;
        cursor: url('cursoricon1.png'), pointer;
        }
.lnButton:hover
        {
        text-shadow: 0 0 5px rgb(70, 123, 172);
        background-color: rgb(77, 168, 224);
        color: aliceblue;
        cursor: url('cursoricon1.png'), pointer;
        }
.igButton {
        background-color:aliceblue;
        color: rgb(77, 168, 224);
        padding: 10px 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: inset;
        border-radius: 10px;
        cursor: url('cursoricon1.png'), pointer;
        }
.igButton:hover
        {        text-shadow: 0 0 5px rgb(70, 123, 172);
        background-color: rgb(77, 168, 224);
        color: aliceblue;
        cursor: url('cursoricon1.png'), pointer;
        }
@keyframes diag {
    0% {
      background-position-x: 0%;
      background-position-y: 0%;
    }
    100% {
      background-position-x: 100%;
      background-position-y: 100%;
    }
  }


.title {
z-index: -1;
display: inline-block;
flex-direction: row;

font-family: 'Courier New', Courier, monospace;
border: 5px outset gainsboro;         
width: 60%;
margin-left: 3%;
height: 100%;
margin-top: 10%;
}

.header {
border: 5px inset lightskyblue;
background-color: whitesmoke;
text-align: center;
padding: 20px;
height: fit-content;
margin: 0;
}
.projheader {
border: 5px inset lightskyblue;
background-color: whitesmoke;
text-align: center;
/* padding: 20px; */
margin: 0;
}
.projects {
border: 5px inset lightskyblue;
background-color: whitesmoke;
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr;
margin: 0;
height: fit-content;
}
.chromeextension {
border: 3px outset aliceblue;
background-color: whitesmoke;
text-align: center;
padding: 10px;
height:fill;
width:fill;
}

.thiswebsite {
border: 3px outset aliceblue;
background-color: whitesmoke;
text-align: center;
padding: 10px;
height:fill;
width:fill;     
}
.bio {
border: 5px inset lightskyblue;
background-color: whitesmoke;
text-align: center;
height: fit-content;   
}
